@{
    ViewBag.Title = "About Us";
}


<div class="ui-widget">
    <h2 class="ui-widget-header">
        About</h2>
    <!-- content goes here -->
    <div class="ui-widget-content">
        <p>
            DWP ADEP Applications
                
            Overview text for DWP ADEP Applications here...
        </p>
        <a title="Return to the top of the page." href="#top" class="ui-state-highlight">top
            of page</a><hr />

    </div>
</div>