@{
    ViewBag.Title = "Application Server Communication Exception";
}

<div class="ui-widget">
<h2>Sorry cannot communicate with the UCB Application Servers</h2>
<div class="ui-widget-content">
	<p>The Application Servers are not responding to your requests at the moment as they may be busy processing other requests.</p>
	<p>Please try again.</p>
	<p>You will need to start the application again by clicking the following link: @Html.ActionLink("Restart Application", "", "Home")</p>
</div>
</div>
