@{
    ViewBag.Title = "Other Incidents in session";
}

<div class="ui-widget">
<h2>Other UCB Incidents in session</h2>
<div class="ui-widget-content">
	<p>This Incident has not been saved/updated as there are other UCB Incidents in session (possible from another tab/browser) and may cause data integrity issues.</p>
	<p>Please close all UCB tabs/browsers.</p>
</div>
</div>
