@{
    ViewBag.Title = "Session Expired";
}

<div class="ui-widget">
<h2>Your current session has expired</h2>
<div class="ui-widget-content">
	<p>Information about your current session on the system has expired. This normally 
		happens after there has been no activity for 20 minutes in order to protect the 
		integrity of your data.</p>
	<p>You will need to start the application again by clicking the following link: @Html.ActionLink("Restart Application", "", "Home")</p>
</div>
</div>
