<?xml version="1.0" encoding="utf-8"?>
<configuration>   
  
<connectionStrings><add name="AdepUcbDBEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.21.37.168;initial catalog=AdepUcb_DEV_nonsynonyms;user id=sa;password=SqlAdmin$1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>